---
import Layout from '../layouts/Layout.astro';
import BaseHeadline from '../components/BaseHeadline.vue';
---

<Layout title="Welcome to Astro.">
	<main>
		<BaseHeadline type="h1" text="My headline" />
	</main>
</Layout>
